*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    
    padding-left: 15vh;
    padding-right: 15vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    background-image: url(../img/img-index/body2.jfif);
    background-size: cover;
}


header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2vh;
    overflow: hidden;
    
}
.btn{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 14vh);
    grid-template-rows: 10vh;
    column-gap: 2vh;
    align-items: center;
    padding-right: 1vh;
    overflow: hidden;
}

.btn1{
    color: white;
    text-align: center;
    min-height: 3vh;
    padding-top: 1vh;
    border-radius: 5px;
    box-shadow: 2px 2px 2px white;
    background-color: rgb(55, 7, 7);
    
}
.btn1:hover{
    background-color: rgb(32, 1, 1);
    scale: 1.09;
}
.logo{
    padding-left: 10vh;
    color: white;
    font-size: 20px;
    padding-top: 2vh;
}
span{
    color: red;
}
.container1{
    background-image: url(../img/img-index/img1.jfif);
    background-size: cover;
    height: 80vh;
    overflow: hidden;
}
.texto-titulo{
    color: white;
    margin-top: 4vh;
    margin-left: 3vh;
    }

h1{
    font-size: 45px;
}
.texto-btn-titulo{
    font-size: 20px;
}
.btn-cadastro{
    color: white;
    background-color: rgb(55, 7, 7);
    border-radius: 5px;
    box-shadow: 2px 2px 2px white;
    width: 15vh;
    min-height: 3vh;
    margin-left: 3vh;
    margin-top: 2vh;
    text-align: center;
    padding-top: 1vh;
    float: left;
    

}
.btn-cadastro:hover{
    background-color: rgb(32, 1, 1);
    scale: 1.09;
}
.btn-login{
    color: white;
    background-color: rgb(55, 7, 7);
    border-radius: 5px;
    box-shadow: 2px 2px 2px white;
    width: 15vh;
    min-height: 3vh;
    margin-left: 3vh;
    margin-top: 2vh;
    text-align: center;
    padding-top: 1vh;
    float: left;
}

.btn-login:hover{
    background-color: rgb(32, 1, 1);
    scale: 1.09;
}
#paragrafo1, #paragrafo2, #paragrafo3, #paragrafo4, #paragrafo5{
    font-size: 30px;
    color: white;
}
.container{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 50vh);
    grid-template-areas: 
    'box1 box2 box3 box4 box5' 
    'box6 box7 box8 box9 box10';
    column-gap: 1vh;
    row-gap: 1vh;
    padding: 0.5vh;
}
a{
    text-decoration: none;
    color: white;
}
.box
{   color: white;
    text-align: center;
    background-color: rgb(19, 2, 2);
    padding-bottom: 1vh;
    overflow: hidden;
}
.box:hover{
    scale: 1.05;
    background-color: black;
}
.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}
.box5{
    grid-area: box5;
}
.box6{
    grid-area: box6;
}
.box7{
    grid-area: box7;
}
.box8{
    grid-area: box8;
}
.box9{
    grid-area: box9;
}
.box10{
    grid-area: box10;
}
img{
    border-radius: 10px;
    margin-bottom: 0.5vh;
}

.container6{
    overflow: hidden;
    background-color: rgb(19, 2, 2);
    color: white;
    display: grid;
    padding: 1vh;
    column-gap: 1vh;
   row-gap: 2vh;
    grid-template-columns: repeat(2, 65vh);
    grid-template-rows: repeat(3, 35vh);
    box-shadow: 5px 0px 3px white;
    justify-content: center;
    

}
.item{
    text-align: center;
    background-color: black;
    border-radius: 10px;
}
.contato{
    border: solid 1px white;
    height: 3vh;
    font-size: 20px;
    padding: 1vh;
    box-shadow: 2px 2px 2px white;
    background-color: rgb(55, 7, 7);
    
    
}
.item-contato{
    padding-top: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.container7{
    
    background-color: rgb(19, 2, 2);
    box-shadow: 5px 0px 3px white;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh;
}
input{
    background-color: black;
    color: white;
    padding-left: 2vh;
    height: 5vh;
   
}
.btn-obs{
    height: 5vh;
    width: 15vh;
    padding-left: 0vh;
    background-color: rgb(55, 7, 7);
    box-shadow: 2px 2px 2px white;
}
::-webkit-scrollbar{
    width: 12px;
    border: solid 20px rgb(32, 1, 1);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(55, 7, 7);
    height: 10px;
}

footer{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10vh;
    text-align: center;
    color: white;
    align-items: center;
    
}
.logo1{
    color: white;
    font-size: 20px;

}

@media screen and (max-width:1500px){
    
    
    .container6{
        display: block;
    }
    .item-contato{
        padding-bottom: 5vh;
        
    }
    header{
        display: block;
    }
    .btn{
        margin-left: 1vh;
    }
    .logo{
        margin-left: -9vh;
    }
}
@media screen and (max-width:1250px){
    
    .container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 50vh);
    grid-template-areas: 
    'box1 box2' 
    'box3 box4' 
    'box5 box6' 
    'box7 box8' 
    'box9 box10';
    }
}
@media screen and (max-width:1000px){
    .btn{
        grid-template-columns: repeat(2, 14vh);
        grid-template-rows: 8vh 8vh 8vh;
        justify-content: center;
        }
        .logo{
            text-align: center;
        }
}
@media screen and (max-width:800px){
    .btn{
        grid-template-columns: repeat(1, 14vh);
        grid-template-rows: repeat(5, 8vh);
        justify-content: center;
        }
        header{
            text-align: center;
        }
        
}

@media screen and (max-width:700px){
    .btn{
    grid-template-columns: repeat(1, 14vh);
    grid-template-rows: 8vh 8vh 8vh 8vh 8vh;
    }

    h1, h3{
        font-size: 20px;
    }
    .container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 50vh);
        grid-template-areas: 
        'box1' 
        'box2' 
        'box3' 
        'box4' 
        'box5' 
        'box6' 
        'box7' 
        'box8' 
        'box9'
        'box10';
        }
        footer{
            display: block;
        }
        .contato{
            font-size: 15px;
        }
}

@media screen and (max-width:600px){
    .btn{
        display: none;
    }
    .container1{
        background-image: none;
        height: 60vh;
    }
    header{
        height: 10vh;
    }
}
@media screen and (max-width:500px){
    body{
        padding-left: 10vh;
        padding-right: 10vh;
    }
    .container7{
        display: none;
    }
    .contato{
        font-size: 10px;
    }
    
}
@media screen and (max-width:400px){
    body{
        padding-left: 5vh;
        padding-right: 5vh;
    }
}




    
    