*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../img/img-index/body2.jfif);
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top:2vh;
    padding: 2vh;
}
.container-login{
    background-color: black;
    width: 50vh;
    padding: 3vh;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 4px white;
    overflow: hidden;
    animation-name: animacao-login;
    animation-duration: 5s;
    
}
span{
    color: red;
    animation-name: animacao-login;
    animation-duration: 5s;
    
}
.logo{
    font-size: 35px;
    padding-top: 2vh;
    padding-bottom: 4vh;
    text-align: center;
    color: white;
    animation-name: animacao-login;
    animation-duration: 5s;
    
    
}
input{
    width: 40vh;
    height: 4vh;
    margin-left: 1vh;
    border-radius: 5px;
    padding-left: 1vh;
    color: white;
    background-color: rgb(16, 2, 2);
    border: none;
    box-shadow: 4px 4px 4px  rgb(55, 7, 7);
    animation-name: animacao-login;
    animation-duration: 5s;
    
    
}
.botao{
    width: 15vh;
    text-align: center;
    height: 4vh;
    background-color: rgb(55, 7, 7);
    color: white;
    animation-name: animacao-login;
    animation-duration: 5s;

    

}
.botao1{
    width: 30vh;
    text-align: center;
    height: 5vh;
    color: red;
    font-size: 20px;
    animation-name: animacao-login;
    animation-duration: 5s;
    
}
.botao:hover{
    scale: 1.09;
}
.botao1:hover{
    scale: 1.09;
}
.botao2:hover{
    scale: 1.09;
}

.botao2{
    width: 30vh;
    text-align: center;
    height: 5vh;
    color: red;
    font-size: 20px;
    animation-name: animacao-login;
    animation-duration: 5s;
    
}
h1{
    color:red;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    animation-name: animacao-login;
    animation-duration: 5s;
}

h4 {
   margin-left: -33vh;
   margin-bottom: 1vh;
   color: red;
   font-size: 20px;
   animation-name: animacao-login;
   animation-duration: 5s;
}
h5{
    
    color: red;
    animation-name: animacao-login;
    animation-duration: 5s;
}
a{
    color: rgb(55, 7, 7);
    animation-name: animacao-login;
    animation-duration: 5s;
}
hr{
    width: 45vh;
    height: 0.2vh;
    background-color:red;
    border: none;
    
}

@media screen and (max-width:500px){
    h1{
        font-size: 20px;
    }
    h4{
        font-size: 15px;
    }
}
@media screen and (max-width:440px){
    input{
        width: 35vh;
    }
    h4{
        margin-left: -25vh;
    }
}
@media screen and (max-width:390px){
    input{
        width: 25vh;
    }
    h4{
        margin-left: -18vh;
    }
    .botao1{
        width: 30vh;
    }
    .botao2{
        width: 30vh;
    }
}
@media screen and (max-width:360px){
   
    .botao1{
        width: 21vh;
        font-size: 17px;
    }
    .botao2{
        width: 21vh;
        font-size: 17px;
    }
}
@keyframes animacao-login{
    from{
       border: none;
        color: transparent;
        display: none;
        background-color: black;
        box-shadow: none;
        
    
    }
}