*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../img/img-index/body2.jfif);
}
header{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    background-color: black;
    color: white;
    align-items: center;
    position: sticky;
    top: 0;
}
.botao-home{
    overflow: hidden;
    width: 15vh;
    height: 3vh;
    padding-top: 1vh;
    background-color: rgb(55, 7, 7);
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px white;
}
.botao-home:hover{
    background-color: rgb(32, 1, 1);
    scale: 1.09;
}
.logo{
    font-size: 35px;
    margin-left: 10vh;
}
span{
    color: red;
}


main {
    background-color: rgb(32, 1, 1);
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 20vh;
    margin-top: 5vh;
    gap: 2vh;
    
}

a{
    text-decoration: none;
    color: white;
}

.bloco-hoteis{
    overflow: hidden;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 46vh;
    grid-template-areas: 
    'hotel1 hotel2 hotel3';
}
.bloco-hoteis-contato{
    overflow: hidden;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 26vh;
    
}
.hotel1{
    overflow: scroll;
    grid-area: hotel1;
    background-color: black;
}


.hotel2{
    grid-area: hotel2;
    padding-left: 3vh;
    background-color: black;
}
.hotel3{
    grid-area: hotel3;
    background-color: black;
}
.bloco-infohotel{
    background-color: black;
    
    
}
.bloco-img{
    height: 45vh;
}
.bloco-img1{
    height: 45vh;
    
}
h1, h4, h3{
    color: white;
}
h4 span{
    color: green;
}

h5{
    color: red;
    font-size: 20px;
}
h1, h4, h5, h3{
    margin-top: 2vh;
    margin-left: 1vh;
}
h1{
    text-decoration: underline;
}

footer{
    background-color: black;
    margin-top: 10vh;
    height: 10vh;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

footer, h5{
    color: white;
    overflow: hidden;
}
.hotel3{
    text-align: center;
    padding: 3vh;
    font-size: 15px;
}
::-webkit-scrollbar{
    width: 12px;
    border: solid 20px rgb(32, 1, 1);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(55, 7, 7);
    height: 10px;
}
.contato1{
    
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 10vh;
    color: rgb(55, 7, 7);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

@media screen and (max-width:1270px){
    .bloco-hoteis{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 45vh;
        grid-template-areas: 
        'hotel1 hotel2 ';
    }
    .hotel3{
        display: none;
    }
    main{
        margin-left: 10vh;
    }
    .contato1{
        font-size: 25px;
        
    }
}

@media screen and (max-width:880px){
    main{
        margin-left: 10vh;
    }
    .contato1{
        font-size: 20px;
    }
}
@media screen and (max-width:820px){
    main{
        margin-left: 10vh;
    }
    .botao-home{
        margin-left: -15vh;
    }
    .logo{
        margin-left: 4vh;
    }
}
@media screen and (max-width:715px){
    
    .bloco-hoteis{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:45vh 45vh;
        grid-template-areas: 
        'hotel1 hotel1 ''hotel2 hotel2';
    }
    .contato1{
        font-size: 15px;
    }
}
@media screen and (max-width:570px){
    .logo{
        margin-left: 1vh;

    }
    main{
        margin-left: 6vh;
    }
}
@media screen and (max-width:510px){
    .logo{
        margin-left: 1vh;
        font-size: 30px;
    }
    .instagram{
        display: none;
    }
    
}
@media screen and (max-width:450px){
    .logo{
        margin-left: 1vh;
        font-size: 30px;
        margin-right: 5vh;
        
    }
    footer h5{
        display: none;
    }
    .whats{
        
        margin-left: 10vh;
    }
    
}
@media screen and (max-width:420px){
    main{
        margin-left: 5vh;
    }
    h1, h4, h5, h3{
        margin-top: 1vh;
        margin-left: -2vh;
        
    }
    .email{
        display: none;
    }
    .whats{
        margin-left: 15vh;
    }

}
@media screen and (max-width:480px){
    .logo{
        font-size: 15px;
    }
    .botao-home{
        height: 1vh;
        width: 7vh;
        padding: 1vh;
    }
    
}